{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container-fluid p-0 d-flex ">
    <div class="row ">
        <div class="d-flex p-0 align-items-end justify-content-end">
            <img src="media/taste_of_romania_home.jpg" class="home-image" alt="image home romania symbol">
            <div class="text-home mr-5 mt-5">
                <h1 class="display-4 logo-font mb-3">
                    Traditional Romanian specialties and gifts
                </h1>
                <h2 class="display-4 logo-font mb-3">Explore, Order, Enjoy!</h2>
                <h4 class="my-5 ">
                    <a href="" class="see-products-button btn btn-lg rounded-0 text-uppercase py-3 text-white ">See our
                        Products</a>
                </h4>
            <div>

        </div>
    </div>
</div>

{% endblock %}