{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<!--Landing image and title-->
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 p-0 d-flex align-items-stretch">
            <img src="{{ STATIC_URL }}taste_of_romania_home.jpg" class="img-fluid" alt="image home romania symbol"> 
        </div>
        <div class="col-md-6 p-0 d-flex flex-column align-items-center black-container text-white">
             <!-- Title and Description -->
             <div class="mb-3 home-container">
                <h1>
                    Traditional Romanian specialties and gifts
                </h1>
                <h2> Explore, Order, Enjoy!</h2>
            </div>
            <div class="d-flex align-items-center">
                <h4>
                    <a href="" class="see-products-button btn btn-lg rounded-0 text-uppercase py-3 text-white">See our Products</a>
                </h4>
            </div>
        </div>
    </div>
</div>

<!--About us section-->
<section class="container aboutus-container">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card aboutus-paragraph">
                <div class="card-body">
                    <div class="text-white">
                        <h2 class="mb-4">About us:</h2>
                        <p class="font-weight-bold">Welcome to our website where you will find a range of traditional products, delicious food and artisanal gifts celebrating Romanian culture and flavors. Here you can find everything from tasty treats to unique gifts for your loved ones.</p>
                        <p class="font-weight-bold">We will deliver your goods as quickly as possible. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Choose a category section-->
<section class="container mt-4 mb-5">
    <h4 class="mt-4 mb-4">Choose a category</h4> 
    <div class="row  text-center">
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="" class="card-img-top h-100" alt="">
                <div class="card-body">
                    <a href="" class="text-decoration-none">
                        <h5 class="card-title ">Sweet and Savory</h5>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="" class="card-img-top h-100" alt="">
                <div class="card-body">
                    <a href="" class="text-decoration-none">
                        <h5 class="card-title"> Alcoholic Drinks</h5>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <img src="" class="card-img-top h-100" alt="">
                <div class="card-body">
                    <a href="" class="text-decoration-none">
                        <h5 class="card-title"> Clothing and Handmade pottery </h5>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}