@import url('https://fonts.googleapis.com/css2?family=Amaranth&family=Open+Sans&display=swap');

html {
    height: 100%;
   
}

body {
    font-family: 'Open Sans', sans-serif ;
}

h1, h2, h4 {
    font-family: 'Amaranth', sans-serif;
}

.nav-img{
    height: 70px;
}

.text-black {
    color: #090601 !important;
}


.home-image {
    margin-top: 5%;
    overflow: hidden;
    
}

.text-home{
    background-color: #090601;
    color: white;
    overflow: hidden;
    position: absolute;
    text-align: left;
    top: 40%;
}

.black-container{
    background-color: #090601;
}

.see-products-button {
    background-color: #8b181e;
}

.bg-threshold, .ship-container {
    background-color: #8b181e;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

footer {
    background-color: #090601;
}

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

