@import url('https://fonts.googleapis.com/css2?family=Amaranth&family=Open+Sans&display=swap');

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h4, h5 {
    font-family: 'Amaranth', sans-serif;
}

.nav-img{
    height: 70px;
}

.text-black, .card-title {
    color: #090601 !important;
}

.home-container{
    margin-top: 50%;
}

/*Style container home page next to landing image*/
.black-container {
    background-color: #090601 !important;
}

.see-products-button {
    background-color: #8b181e;
}

.bg-threshold, .ship-container, .aboutus-paragraph {
    background-color: #8b181e;
}

/*Style about us section*/
.aboutus-container {
    margin-top: 2%;
    margin-bottom: 2%;
    font-weight: bold;
    
}


/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

footer {
    background-color: #090601;
}

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

