@import url('https://fonts.googleapis.com/css2?family=Amaranth&family=Open+Sans&display=swap');

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;

}

h1, h2, h4, h5 {
    font-family: 'Amaranth', sans-serif;
}

.nav-img{
    height: 70px;
}

.nav-bar {
    background-color: #090601;
    color: #ffffff;
}

.text-black, .card-title {
    color: #090601 !important;
}

.home-container{
    margin-top: 40%;
}


/*Style container home page next to landing image*/
.black-container, 
.card-footer, 
.card-body-text,
.container-landing-page {
    background-color: #090601;
}

.see-products-button,
.bg-threshold, 
.ship-container, 
.aboutus-paragraph {
    background-color: #8b181e;
}

/*Style about us section*/
.aboutus-container {
    margin-top: 2%;
    margin-bottom: 2%;
    font-weight: bold;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

footer {
    background-color: #090601;
}

#mc_embed_signup {
    background: #090601;
    clear: left;
    font: 14px 'Open Sans', sans-serif;;
    width: 100%;
    padding: 0;
    margin: 0;
}


.subscribe-button {
    background-color: #8b181e !important;
    color: #ffffff;
}

.subscribe-button:hover {
    background-color: #ffffff !important;
    color: #090601 !important;
}


#mc_embed_signup form {
    margin: 0 !important;
}

h5>a {
    color:#8b181e;
}

/*Style image containers for product app*/
.img-product {
    object-fit: cover;
    width: 100%;
    height: 22vw;
    margin: 0;
    min-height: 260px;
}

.detail-product {
    object-fit: contain;
    height: 25vw;
    min-height: 300px;
}

.no-img-container {
    object-fit: contain;
    height: 17vw;
    min-height: 300px;
}

/* Style overlay container for all products page */
.cover-container{
    height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: #ffffff;
	z-index: -1;
}

/*Style for products page*/
.see-product-btn {
    background-color: #8b181e; 
    color: #ffffff;
    font-size: small;
    
}

.see-product-btn:hover{
    background-color: #ffffff;
    color: #8b181e;
    border: 1px solid #8b181e;
}

.tag {
    background-color: #ffffff;
    border: 1px solid #8b181e;
    color: #8b181e;
    font-size: small;
    font-weight: bold;
}

.tag:hover {
    background-color: #090601;
    color: #ffffff;
    border: 1px solid #090601;
}

/*Style modal popup for favorite icon when user is not logged in */
.modal-body {
    background-color: #8b181e;
    font-weight: bolder;
    color:#ffffff;
}

.modal-content {
    background-color: #ffffff;
}

/* Register, login, logout style */
.custom-container {
    display:flex;
    flex-direction: column;
    margin-top: 17rem !important;
    margin-bottom: 15rem;
}

.text-register-login {
    color: #8b181e;
    font-weight: bolder;
}

.continue-shop-btn {
    background: #ffffff;
    color: #8b181e;
    border: 1px solid #8b181e;
}

.continue-shop-btn:hover {
    background: #090601;
    color: #ffffff;
    border: 1px solid #090601;
}

.btn-black-cart {
    background: #090601;
    color: #ffffff;
}

.btn-black-cart:hover {
    background: #8b181e;
    color: #ffffff;
}

.update-item, .remove-item {
    cursor: pointer;
}

/* Style bootstrap toasts- style and classes taken from boutique-ado walthrough*/
.message-container {
    position: fixed;
    top: 120px;
    right: 15px;
    z-index: 99999999999 !important;
}

.custom-toast {
    overflow: visible !important;
}

.toast-capper {
    height: 2px;
}

.cart-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}



/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }

.btn-select-file {
    position: relative;
    overflow: hidden;
}

.btn-select-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #8b181e;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #8b181e;
    border-color: #8b181e;
    border-radius: 0;
}

}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {

    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 180px;
    }

}

/* pad the top when navbar is collapsed on mobile */
@media (max-width: 991px) {

    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);

    }

    .header-container {
        padding-top: 116px;
    }

    .nav-mobile {
        background-color: #090601 !important;
        color: #ffffff;
    }

    li > p, i.fa-lg {
        font-size: 1rem;
        color: #ffffff !important;
    }

    .nav-link {
        padding: 0.1rem;
        color: #ffffff !important;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    #delivery-banner h4 {
        font-size: 1.25rem;
    }

    .home-container{
        margin-top: 30%;
    }

    .container-landing-page {
        gap: 0;
    }
    
    .img-product {
        object-fit: scale-down;
        min-height: 300px;
    }


}

@media (max-width: 400px) {

    body{
        font-size: medium;
    }

    h1 {
        font-size: 2rem;
    }

    h2, h3, h4 {
        font-size: 1.5rem;
    }

    .nav-link i.fa-lg {
        font-size: 0.75rem;
        padding: 0;
        margin: 0;
    }

    .list-inline-item:not(:last-child) {
        margin-right: 0;
        font-size: 0.75rem;
    }

    .navbar-toggler {
        padding: .4rem .4rem;
        font-size: .75rem;
    }

    .dropdown-item, .nav-link {
        font-size: .8rem;
    }

 

}

@media (max-width: 300px) {

    body{
        font-size: small;
    }

    .header-container {
        padding-top: 100px;
    }

    h1 {
        font-size: 1.7rem;
    }

    h3, h4, h5 {
        font-size: 1rem;
    }

    .list-inline-item:not(:last-child) {
        font-size: .5rem;
    }

    .navbar-toggler {
        padding: .3rem .3rem;
        font-size: .5rem;
    }

    #delivery-banner h4 {
        font-size: 1rem;
    }

    .navbar {
        padding: 0.5rem 0.7rem;
   }

   .dropdown-item, .nav-link {
    font-size: .7rem;
    }

    .img-product {
        object-fit: cover;
    }   
   
}
