{% extends "base.html" %}
{% load static %}
{% block content %}

<!--Edit comment page-->
<div class="container-fluid d-flex align-items-center custom-container">
    <div class="col-lg-4">
        <div class="card-body border rounded">
            <div class="mb-1">
                <h3>Confirm Deletion</h3>
                <p> Do you really want to delete this inquiry?</p>
                <p>{{ inquiry.id }}</p>
                <div class="col-md-6">
                    <form method="post" style="margin-top: 1.3em;">
                        {% csrf_token %}
                        <input type="submit" value="Yes" class="btn btn-danger mt-3 mb-3">
                        <a href="{% url 'inquiry' inquiry.id %}" class="btn btn-warning mt-3 mb-3" >Cancel</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}