{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="cover-container"></div>
    <div class="container">
        <div class="row">
            <div class="col">
                <hr>
                <h2 class="mb-4">Request Number {{ inquiry.id }}</h2>
                <hr>
                <p class="text-black">You can find below your request information: </p>
            </div>
        </div>

        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="p-2 border">
                    <div class="row my-2">
                        <div class="col">
                            <p>Inquiry Info:</p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-6">
                            <p class="mb-0 text-black font-weight-bold">Order Number: {{ inquiry.order_number_inquiry }} </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-md-6">
                            <p class="mb-0 text-black font-weight-bold"> Date : <small class="text-md-right">{{ inquiry.created_on }}</small></p>
                        </div>
                    </div>

                    <div class="row my-2">
                        <div class="col-12 col-md-6">
                            <p class="mb-0 text-black font-weight-bold">Full Name: {{ inquiry.name }}</p>
                        </div>
                    </div>
                    <div class="row my-2">
                        <div class="col-12 col-md-6">
                            <p class="mb-0 text-black font-weight-bold">Email: <small>{{ inquiry.email }}</small></p>
                        </div>
                    </div>
                    {% if inquiry.phone_number %}
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <p class="mb-0 text-black font-weight-bold">Phone Number :<small>{{ inquiry.phone_number }} </small></p>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="p-2 border">
                    <div class="row my-2">
                        <div class="col-12 col-md-6">
                            <p class="mb-0 text-black font-weight-bold">Subject: {{ inquiry.subject }} </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-6">
                            <p class="mb-0 text-black font-weight-bold">Message</p>
                        </div>
                        <div class="col-12 col-md-6 text-md-left">
                            <p class="mb-0">{{ inquiry.user_message}}</p>
                        </div>
                    </div>
                    {% if inquiry.image %}
                    <div class="row img-product">
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="row">
			<div class="col-12 col-lg-6 text-right">
                <a href="{% url 'inquiries' %}" class="btn btn-black-cart rounded my-2">
                    <span class="icon mr-2">
                        <i class="fas fa-angle-left"></i>
                    </span>
                    <span class="text-uppercase"> Back to My Inquiries</span>
                </a>
                <a href="" class="btn btn-black-cart rounded my-2">
                    <span class="icon mr-2">
                        <i class="fa-solid fa-reply"></i>
                    </span>
                    <span class="text-uppercase">Reply request</span>
                </a>
			</div>
		</div>
    </div>
{% endblock %}