<!--Payment and Shipping information section -->
<div class="container ship-container text-white mb-4">
    <h4 class="mt-4 mb-4 pt-3">Payment and Shipping information:</h4> 
    <div class="row text-left">
        <div class="col-md-4 mb-3">
            <ul class="list-unstyled">
                <li class="font-weight-bold pb-1">Secure Payment</li>
                <li>Visa and Master card</li>
            </ul>
        </div>
        <div class="col-md-4 mb-3">
            <ul class="list-unstyled">
                <li class="font-weight-bold pb-1">Reliable Delivery</li>
                <li>We deliver via DHL</li>
                <li>Delivery within 3-5 working days after receipt of the order.</li>
                <li>Shipment tracking available.</li>
            </ul>
        </div>
        <div class="col-md-4 mb-3">
            <ul class="list-unstyled">
                <li class="font-weight-bold pb-1">Return</li>
                <li>Free returns</li>
                <li>Telephone customer service: +49 123 454 6789</li>
                <li>Opening hours customer service: 09:00-18:00</li>
            </ul>
        </div>
    </div>
</div>

<footer class="text-white text-center py-5">
    <div class="container">
        <div class="row mb-3">
            <div class="col-md-6 text-left">
                <ul class="list-unstyled">
                    <li><strong class="pr-3">Address:</strong>Street no 1, 456896 Münster, Germany</li>
                    <li><strong class="pr-3">Phone:</strong>+49 123 454 91011</li>
                    <li><strong class="pr-3">Email:</strong> contact@tasteofromania.com</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <!--Font Awesome Icons for social media-->
                <div class="social-icons">
                    <a href="https://www.facebook.com" target="_blank" rel="noopener"
                    aria-label="Feel free to check our Facebook page (page will open in a separate tab)" class="text-white mx-2"><i class="fab fa-facebook"></i></a>
                    <a href="https://www.linkedin.com" target="_blank" rel="noopener"
                    aria-label="Feel free to check our LikedIn page (page will open in a separate tab)" class="text-white mx-2"><i class="fab fa-linkedin"></i></a>
                </div>
                <p>&copy; 2023 Taste of Romania. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>