<!--Payment and Shipping information section -->
<div class="container ship-container text-white mb-4">
    <h4 class="mt-4 mb-4 pt-3">Payment and Shipping information:</h4> 
    <div class="row text-left">
        <div class="col-md-4 mb-3">
            <ul class="list-unstyled">
                <li class="font-weight-bold pb-1">Secure Payment</li>
                <li>Visa and Master card</li>
            </ul>
        </div>
        <div class="col-md-4 mb-3">
            <ul class="list-unstyled">
                <li class="font-weight-bold pb-1">Reliable Delivery</li>
                <li>We deliver via DHL</li>
                <li>Delivery within 3-5 working days after receipt of the order.</li>
                <li>Shipment tracking available.</li>
            </ul>
        </div>
        <div class="col-md-4 mb-3">
            <ul class="list-unstyled">
                <li class="font-weight-bold pb-1">Return</li>
                <li>Free returns</li>
                <li>Telephone customer service: +49 123 454 6789</li>
                <li>Opening hours customer service: <strong>Mon-Fri 09:00 AM-18:00 PM</strong></li>
            </ul>
        </div>
    </div>
</div>

<footer class="text-white text-center py-5">
    <div class="container">
        <div class="row mb-3">
            <div class="col-md-6 col-lg-8 text-left pt-5">
                <h5>Contact us</h5>
                <ul class="list-unstyled">
                    <li><strong class="pr-3">Address:</strong>Street no 1, 456896 Münster, Germany</li>
                    <li><strong class="pr-3">Phone:</strong>+49 123 454 91011</li>
                    <li><strong class="pr-3">Email:</strong> contact@tasteofromania.com</li>
                </ul>
                <h5><a href="https://www.termsfeed.com/live/e7d6d953-133e-47b8-bef4-33961dd08ec1" target="_blank"
                    aria-label="Our Privacy Policy" class="text-decoration-none text-white">Privacy Policy</a>
                </h5>
                <a href="https://www.facebook.com/" target="_blank" rel="noopener"
                aria-label="Feel free to check our Facebook page (page will open in a separate tab)"class="text-decoration-none text-white small">
                    <i class="fab fa-facebook"></i> Follow us on Facebook!
                </a>
            </div>
            <div class="col-md-6 col-lg-4 d-flex mt-sm-4">
                <!--Mailchimp signup form-->
                <div id="mc_embed_shell">
                    <div id="mc_embed_signup">
                        <form action="https://herokuapp.us21.list-manage.com/subscribe/post?u=b24165ba06fc43fb25a2d477f&amp;id=7b72ad85e0&amp;f_id=0020e9e6f0"
                            method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                            <div id="mc_embed_signup_scroll">
                                <h2>Subscribe to our newsletter!</h2>
                                <p>Stay updated on the latest arrivals of new products</p>
                                <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                                <div class="mc-field-group"><label for="mce-EMAIL">Email Address <span
                                            class="asterisk">*</span></label><input type="email" name="EMAIL"
                                        class="required email" id="mce-EMAIL" required="" value=""><span
                                        id="mce-EMAIL-HELPERTEXT" class="helper_text"></span>
                                </div>
                                <div id="mce-responses" class="clear foot">
                                    <div class="response" id="mce-error-response" style="display: none;"></div>
                                    <div class="response" id="mce-success-response" style="display: none;"></div>
                                </div>
                                <div aria-hidden="true" style="position: absolute; left: -5000px;">
                                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                    <input type="text" name="b_b24165ba06fc43fb25a2d477f_7b72ad85e0" tabindex="-1" value="">
                                </div>
                                <div class="optionalParent">
                                    <div class="clear foot">
                                        <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button subscribe-button" value="Subscribe">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col">
                <!--Font Awesome Icons for social media-->
                <div class="social-icons">
                    <a href="https://www.facebook.com" target="_blank" rel="noopener"
                    aria-label="Feel free to check our Facebook page (page will open in a separate tab)" class="text-white mx-2"><i class="fab fa-facebook"></i></a>
                    <a href="https://instagram.com" target="_blank" rel="noopener"
                    aria-label="Feel free to check our Instagram page (page will open in a separate tab)" class="text-white mx-2">
                    <i class="fab fa-instagram"></i></a>
                </div>
                <p>&copy; 2023 Taste of Romania. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>

<!--Mailchimp signup form JS-->
<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
<script type="text/javascript">
    (function ($) {
        window.fnames = new Array();
        window.ftypes = new Array();
        fnames[0] = 'EMAIL';
        ftypes[0] = 'email';
        fnames[1] = 'FNAME';
        ftypes[1] = 'text';
        fnames[2] = 'LNAME';
        ftypes[2] = 'text';
        fnames[3] = 'ADDRESS';
        ftypes[3] = 'address';
        fnames[4] = 'PHONE';
        ftypes[4] = 'phone';
        fnames[5] = 'BIRTHDAY';
        ftypes[5] = 'birthday';
    }(jQuery));
    var $mcj = jQuery.noConflict(true);
</script>
