<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown text-black">
            <a class="font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a>
                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black mr-5" href="#" id="specialties-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Romanian specialties
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specialties-link">
                <a href="{% url 'products' %}?category=cheese" class="dropdown-item">Cheese</a>
                <a href="{% url 'products' %}?category=meat_products" class="dropdown-item">Meat products</a>
                <a href="{% url 'products' %}?category=sweets" class="dropdown-item">Sweets</a>
                <a href="{% url 'products' %}?category=snacks" class="dropdown-item">Snacks</a>
                <a href="{% url 'products' %}?category=food_cupboard" class="dropdown-item">Food Cupboard</a>
                <a href="{% url 'products' %}?category=cheese, meat_products,sweets,snacks,food_cupboard" class="dropdown-item">All Romanian specialties</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a href="{% url 'products' %}?category=drinks" id="drinks-link" class="font-weight-bold nav-link text-black mr-5" aria-haspopup="true" aria-expanded="false">
                Drinks
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Artisanal products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="{% url 'products' %}?category=traditional_clothing" class="dropdown-item">Traditional clothing</a>
                <a href="{% url 'products' %}?category=handmade_pottery" class="dropdown-item">Handmade pottery</a>
                <a href="{% url 'products' %}?category=handmade_bracelet" class="dropdown-item">Handmade bracelet</a>
                <a href="{% url 'products' %}?category=traditional_clothing,handmade_pottery,handmade_bracelet" class="dropdown-item">All Artisanal Products</a>
            </div>
        </li>
    </ul>
</div>