<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown text-black">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Rating</a>
                <a href="" class="dropdown-item ">By Category</a>
                <a href="" class="dropdown-item">All Products</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="specialties-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Romanian specialties
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specialties-link">
                <a href="" class="dropdown-item">Cheese</a>
                <a href="" class="dropdown-item">Meat products</a>
                <a href="" class="dropdown-item">Sweets</a>
                <a href="" class="dropdown-item">Snacks</a>
                <a href="" class="dropdown-item">Food Cupboard</a>
                <a href="" class="dropdown-item">All Romanian specialties</a>
            </div>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5" href="#" id="drinks-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Drinks
            </a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Artisan products
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="specials-link">
                <a href="" class="dropdown-item">Traditional clothing</a>
                <a href="" class="dropdown-item">Handmade pottery</a>
                <a href="" class="dropdown-item">Handmade bracelet</a>
                <a href="" class="dropdown-item">All Artisan products</a>
            </div>
        </li>
    </ul>
</div>