{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock head_title %}

{% block content %}

<!--Login page-->
<div class="container-fluid d-flex justify-content-center align-items-center custom-container">
    <div class="row border rounded-3">
        <div class="card-body border rounded-3">
            <div class="mb-1">
                <h2 class="card-title">{% trans "Login" %}</h2>
                <p>{% blocktrans %}If you have not created an account yet, then please 
                    <a class="text-decoration-none text-register-login" href="{{ signup_url }}">Register</a> first.{% endblocktrans %}
                </p>
            </div>
            <div class="mb-3">
                <form class="login" method="POST" action="{% url 'account_login' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                    {% endif %}
                    <a class="btn continue-shop-btn rounded" href="{% url 'home' %}">Home</a>
                    <button class="btn btn-warning btn-login-register font-weight-bold" type="submit">{% trans "Login" %}</button>
                    <p class="mt-2">
                        <a class="button secondaryAction small text-decoration-none text-register-login" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}