{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
<div class="container-fluid d-flex justify-content-center align-items-center custom-container">
    <div class="row border rounded-3">
        <div class="card-body border rounded-3">
            <div class="mb-1">
                <h1>{% trans "Set Password" %}</h1>

                <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" name="action" class="btn btn-warning btn-login-register font-weight-bold mb-2" value="{% trans 'Set Password' %}"/>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
