{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}

<!--403 Page-->
<div class="container d-flex justify-content-center align-items-center vh-100">
    <div class="row">
        <div class="col-md-12">
            <h1>403 Forbidden</h1>
            <p>You are not authorized to perform the requested action.</p>
            <a href="{% url 'home' %}" class="btn btn-warning" aria-label="Navigate to Home page"> Back to Home</a>
        </div>
    </div>
</div>

{% endblock %}